<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>Angular UI ~ <%= public.humaName %> Doc</title>

  <!-- Le css -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/prettify.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>

  <%
  var cssFiles = public.css || [];;

  for(var i = 0, len = cssFiles.length; i < len; i++) {
  print('    <link rel="stylesheet" type="text/css" href="' + cssFiles[i] + '"/>\n');
  }
  %>

</head>

<body>

<!-- Le navbar
================================================== -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="" class="navbar-brand"><%= public.humaName %></a>
        </li>
        <li class="pull-right">
          <a href="http://angular-ui.github.io">by AngularUI</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Le header
================================================== -->
<header class="bs-header">
  <div class="container">

    <h1><%= public.humaName %></h1>

    <p><%= pkg.description %></p>

    <p>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/angular-ui/<%= public.repoName %>">Code on Github</a>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/angular-ui/<%= public.repoName %>/releases/tag/v<%= pkg.version %>">
        <i class="glyphicon glyphicon-download-alt"></i> Download <small>(<%= pkg.version %>)</small>
     </a>
    </p>
  </div>
  <div class="bs-social container">
      <ul class="bs-social-buttons list-inline list-unstyled">
          <li>
              <iframe
            src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=<%= public.repoName %>&amp;type=watch&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </li>
          <li>
             <iframe
            src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=<%= public.repoName %>&amp;type=fork&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
          </li>
          <li>
              <a href="https://twitter.com/share" class="twitter-share-button"
                 data-hashtags="angularjs">Tweet</a>
              <script>!function (d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = "//platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                  }
              }(document, "script", "twitter-wjs");</script>
          </li>
          <li>
              <!-- Place this tag where you want the +1 button to render. -->
              <div class="g-plusone" data-size="medium"></div>

              <!-- Place this tag after the last +1 button tag. -->
              <script type="text/javascript">
                  (function () {
                      var po = document.createElement('script');
                      po.type = 'text/javascript';
                      po.async = true;
                      po.src = 'https://apis.google.com/js/plusone.js';
                      var s = document.getElementsByTagName('script')[0];
                      s.parentNode.insertBefore(po, s);
                  })();
              </script>
          </li>
      </ul>
  </div>
</header>

<!-- Le main
================================================== -->
<div class="container">

  <%= public.inlineHTML %>

</div>

<!-- Le javascript
================================================== -->
<%
var defaultjs = [
  'assets/vendor/prettify.js',
  'assets/vendor/angular.min.js',
  'assets/vendor/ui-bootstrap-tpls.min.js',
  'core/prettifyDirective.js',
  'core/plunker.js',
];

var jsFiles = public.js || [];

if(typeof jsFiles === 'function'){
  jsFiles = public.js(defaultjs);
}else {
  jsFiles = defaultjs.concat(jsFiles);
}

for(var i = 0, len = jsFiles.length; i < len; i++) {
  print('<script src="' + jsFiles[i] + '"></script>\n');
}
%>

<script>
  <%= public.inlineJS %>
</script>

</body>

</html>
